<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form #registerForm="ngForm" (ngSubmit)="hadleLogin(registerForm.value)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="username" pattern="[A-Z][a-z]+\s[A-Z][a-z]+" class="form-control"
                        placeholder="Full Name" required ngModel>
                </div>
                <div class="req-field"
                    *ngIf="formControls.username?.touched && formControls.username.errors?.required">
                    This field is required!
                </div>
                <div class="info-field" *ngIf="formControls.username?.errors?.pattern">
                    Name shoud contain space between first and last name!
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control"
                        placeholder="Email Address" type="email" required ngModel>
                </div>
                <div class="req-field"
                    *ngIf="formControls.email?.touched && formControls.email?.errors?.required">
                    This field is required!
                </div>
                <div class="info-field" *ngIf="formControls.email?.errors?.pattern">
                    Email shoud be a valid email address, like example@example.extension!
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <input name="phoneNumber" pattern="^[+]{1}\d{11,}$" class="form-control" placeholder="Phone number"
                        type="text" required ngModel>
                </div>
                <div class="req-field"
                    *ngIf="formControls.phoneNumber?.touched && formControls.phoneNumber?.errors?.required">
                    This field is required!
                </div>
                <div class="info-field" *ngIf="formControls.phoneNumber?.errors?.pattern">
                    Phone number should consists country code and at least 10 digits!
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <input name="occupation" pattern="[A-Za-z]+" class="form-control" placeholder="Occupation"
                        type="text" required ngModel>
                </div>
                <div class="req-field"
                    *ngIf="formControls.occupation?.touched && formControls.occupation?.errors?.required">
                    This field is required!
                </div>
                <div class="info-field" *ngIf="formControls.occupation?.errors?.pattern">
                    Occupation field should consists only letters!
                </div>
                <div ngModelGroup="passwords">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input #password="ngModel" name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{3,16}$" class="form-control"
                            placeholder="Create password" type="password" required ngModel>
                    </div>
                    <div class="req-field"
                        *ngIf="password?.touched && password?.errors?.required">
                        This field is required!
                    </div>
                    <div class="info-field"
                        *ngIf="password.errors?.pattern">
                        Password shoud consists between 3 and 16 symbols: letters and digits!
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input #confirmPassword="ngModel" name="confirmPassword"
                            pattern="{{password?.value}}"
                            class="form-control" placeholder="Repeat password" type="password" required ngModel>
                    </div>
                    <div class="req-field"
                        *ngIf="confirmPassword?.touched && confirmPassword?.errors?.required">
                        This field is required!
                    </div>
                    <div class="info-field"
                        *ngIf="confirmPassword?.touched && password?.value!==confirmPassword?.value">
                        Passwords do not match!
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-image"></i> </span>
                    </div>
                    <input name="imageUrl" pattern="^http[s]?:\/\/.+" class="form-control" placeholder="image url" type="url"
                        required ngModel>
                </div>
                <div class="req-field"
                    *ngIf="registerForm?.controls.imageUrl?.touched && registerForm?.controls.imageUrl?.errors?.required">
                    This field is required!
                </div>
                <div class="info-field"  *ngIf="registerForm?.controls.imageUrl?.errors?.pattern">
                    Image URL must start with http or https!
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block" [disabled]="registerForm.invalid">
                        Create Account
                    </button>
                </div>
                <p class="text-center"><b>Have an account?&nbsp;&nbsp;</b><a routerLink='/profile/login'><b>Log In</b></a> </p>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>