<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1>Registration Form</h1>
            <form #registerForm="ngForm" (ngSubmit)="hadleLogin(registerForm.value)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="username" pattern="[A-Z][a-z]+\s[A-Z][a-z]+" class="form-control"
                        placeholder="Full Name" required ngModel>
                </div>
                <div class="alert alert-danger"
                    *ngIf="registerForm?.controls.username?.touched && registerForm?.controls.username?.errors?.required">
                    This field is required!
                </div>
                <div class="alert alert-danger" *ngIf="registerForm?.controls.username?.errors?.pattern">
                    Name shoud contain space between first and last name!
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control"
                        placeholder="Email Address" type="email" required ngModel>
                </div>
                <div class="alert alert-danger"
                    *ngIf="registerForm?.controls.email?.touched && registerForm?.controls.email?.errors?.required">
                    Email field is required!
                </div>
                <div class="alert alert-danger" *ngIf="registerForm?.controls.email?.errors?.pattern">
                    Email shoud be a valid email address, like example@example.extension!
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <input name="phoneNumber" pattern="^[+]{1}\d{11,}$" class="form-control" placeholder="Phone number"
                        type="text" required ngModel>
                </div>
                <div class="alert alert-danger"
                    *ngIf="registerForm?.controls.phoneNumber?.touched && registerForm?.controls.phoneNumber?.errors?.required">
                    Phone field is required and should start with '+'!
                </div>
                <div class="alert alert-danger" *ngIf="registerForm?.controls.phoneNumber?.errors?.pattern">
                    Phone number should consists country code and at least 10 digits!
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <input name="occupation" pattern="[A-Za-z]+" class="form-control" placeholder="Occupation" type="text" required ngModel>
                </div>
                <div class="alert alert-danger"
                    *ngIf="registerForm?.controls.occupation?.touched && registerForm?.controls.occupation?.errors?.required">
                    Occupation is reqired!
                </div>
                <div class="alert alert-danger" *ngIf="registerForm?.controls.occupation?.errors?.pattern">
                    Occupation field should consists only letters!
                </div>
                <div ngModelGroup="passwords">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{3,16}$" class="form-control"
                            placeholder="Create password" type="password" required ngModel>
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="registerForm?.controls.passwords?.controls.password?.touched && registerForm?.controls.passwords?.controls.password?.errors?.required">
                        This field is required!
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="registerForm?.controls.passwords?.controls.password?.errors?.pattern">
                        Password shoud consists between 3 and 16 symbols: letters and digits!
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="confirmPassword" pattern="{{registerForm?.controls.passwords?.controls.password?.value}}" class="form-control" placeholder="Repeat password" type="password"
                            required ngModel>
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="registerForm?.controls.passwords?.controls.confirmPassword?.touched && registerForm?.controls.passwords?.controls.confirmPassword?.errors?.required">
                        This field is required!
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="registerForm?.controls.passwords?.controls.confirmPassword?.touched && registerForm?.controls.passwords?.controls.password?.value!==registerForm?.controls.passwords?.controls.confirmPassword?.value">
                        Passwords do not match!
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-image"></i> </span>
                    </div>
                    <input appImageUrlValidator name="imageUrl" class="form-control" placeholder="image url" type="url"
                        required ngModel>
                </div>
                <div class="alert alert-danger" *ngIf="registerForm.errors?.image">
                    Image URL must start with http and end with jpg/png!
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block"
                        [disabled]="registerForm.invalid">
                        Create Account
                    </button>
                </div>
                <p class="text-center">Have an account? <a routerLink='/profile/login'>Log In</a> </p>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
