:host{
    display: block;
    width: auto;
    height: initial;
      background-image: url('../assets/home.png');
      background-attachment: fixed;
      background-size: cover;
      /* z-index: 99; */
  }