<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" routerLink="">
                <img src="../../../assets/logo.png" width="110" height="45" alt="">
            </a>
        </nav>
        <!-- <a class="navbar-brand" routerLink="">Bookstore</a> -->
        <button appCollapse class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="isLoggedIn">
                    <a class="nav-link" routerLink="/profile/profile">Hello, {{username}}</a>
                </li>
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a class="nav-link" routerLink="/profile/register">Register</a>
                </li>
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a class="nav-link" routerLink="/profile/login">Login</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="isLoggedIn" class="nav-link" routerLink="/profile/profile">Profile</a>
                </li>
                <li *ngIf="isLoggedIn" appDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        My store
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/books/all">All books</a>
                        <a class="dropdown-item" routerLink="/books/user">My books</a>
                        <a class="dropdown-item" routerLink="/books/create">Create new book</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>