input.ng-valid {
    border-left: 2px solid #42A948; /* green */
}
  
input.ng-invalid.ng-touched {
    border-left: 2px solid #A94442; /* red */
}
.req-field{
    background-color: #A94442;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    width: 180px;
}
.info-field{
    background-color: #A94442;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    width: auto;
}
i {
    color: #42A948;
}
span{
    border-left: 2px solid grey;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}
input{
    border-right: 2px solid grey;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}
.container {
    margin-top: 150px;
    margin-bottom: -443px;
}
.text-center {
    font-style: italic;
}
button{
    border: 2px solid grey;
    background-color: #42A948;
}