<div class="grid-container">
    <div *ngIf="book && comments">
        <div class="grid">
            <div class="grid-item">
                <div class="opacity">
                    <div class="main-info">
                        <p><img src="{{book.imageUrl}}"></p>
                        <h4>{{book.title}}</h4>
                        <h5>{{book.bookAuthor}}</h5>
                    </div>
                    <h6>{{book.description}}</h6>
                    <p class="genres">Genres: <span *ngFor="let genre of book.genres">{{genre}} </span></p>
                    <div class="buttons-container">
                        <div *ngIf="isAuthor(book)" class="buttons">
                            <li> <button (click)="deleteBook( book['_id'])" class="card-link">delete</button></li>
                            <li> <button [routerLink]="['/books/edit', book['_id'] ]" class="card-link">edit</button>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Provide additional information about book -->
            <div class="grid-item">
                <div class="opacity">
                    <h5>Additional information</h5>
                    <div class="additional-info">
                        <button [disabled]="isAuthor(book)" (click)="showContact(book.author)"><b>Posted by:
                                {{book.author}}</b></button>
                    </div>
                    <div class="additional-info">
                        <p>Year Issue: {{book.year}}</p>
                    </div>
                    <div class="additional-info">
                        <p>Publisher: {{book.publisher}}</p>
                    </div>
                    <div class="additional-info">
                        <p>Selling price: {{book.price.toFixed(2)}} BGN</p>
                    </div>
                    <div class="additional-info-footer">
                        <div>
                            <button [disabled]="isAuthor(book)" (click)="rateBook( book['_id'], 'like')"
                                class="additional-info-footer-b-l"><b>{{book.likes}}</b>&nbsp;&nbsp;<i
                                    class="fa fa-thumbs-up"></i></button>
                        </div>
                        <div>
                            <button [disabled]="isAuthor(book)" (click)="rateBook(book['_id'], 'dislike')"
                                class="additional-info-footer-b-d"><b>{{book.dislikes}}</b>&nbsp;&nbsp;<i
                                    class="fa fa-thumbs-down"></i></button>
                        </div>
                    </div>
                    <div *ngIf="emailOwnerBook && !showInfoOwnerBook" class="additional-info-footer">
                        <p>You can emailed author of the book "{{book.title}}" to email: {{emailOwnerBook}} or call him
                            to phone: {{phoneOwnerBook}}.</p>
                    </div>
                    <div class="additional-info-footer"> </div>
                </div>
            </div>
            <!-- Provide information about comments -->
            <div class="grid-item">
                <div class="opacity">
                    <h5>Comments</h5>
                    <app-comment-create [bookId]="book._id" [comments]="comments"
                        (createCommentEmitter)="postComment($event)"></app-comment-create>
                    <app-comment-details *ngFor="let comment of comments" [comment]="comment"
                        (deleteCommentEmitter)="delComment($event)"></app-comment-details>
                </div>
            </div>
        </div>
    </div>
</div>