<div class="grid-container">
    <div class="grid">
        <div class="grid-item" *ngFor="let book of allBooks">
            <div class="opacity">
                <p><img src="{{book.imageUrl}}"></p>
                <h4>{{book.title}}</h4>
                <h5>{{book.bookAuthor}}</h5>
                <h6>{{book.description}}</h6>
                <p>Genres: <span *ngFor="let genre of book.genres">{{genre}} </span></p>
                <div class="buttons-container">
                    <div class="buttons">
                        <li> <button [routerLink]="['/books/details', book['_id'] ]" class="card-link">details</button></li>
                        <ng-template [ngIf]="isAuthor(book)">
                            <li> <button (click)="deleteBook( book['_id'])" class="card-link">delete</button></li>
                            <li> <button [routerLink]="['/books/edit', book['_id'] ]" class="card-link">edit</button></li>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>