/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
.opacity {
    opacity: 0.7;
    border-radius: 0.5rem;
    background: grey;
    color: white;
}

button {
    cursor: not-allowed;
}
input.ng-valid {
    border-left: 5px solid #42A948; /* green */
}
  
input.ng-invalid.ng-touched {
    border-left: 5px solid #A94442; /* red */
}
h1 {
    margin-top: 1cm;
    margin-left: 5cm;
    text-align: left;
    color: white;
}

